<!doctype html>


<html>
<head>
<link rel="stylesheet" href="static/madlibs.css">
  <title>A Compliment</title>
</head>
<body>
    {% extends 'base.html' %}
{% block title %}My awesome page title{% endblock %}

{% block content %}
    <h2>I'm a header!</h2>
    <p>I'm a paragraph!</p>

    <div>
    <h1>Welcome!</h1>
    Hi {{ person }}! I think you're {{ compliment }}!<br>
    Would you <span>like</span> to play a game?<br>

    <form action="/game">
    <input type="radio" value="yes" name="show_madlib"> Yes. :)  <br>
    <input type="radio" value="no" name="show_madlib"> No. :( <br><br>
    <input type="submit"></form>
</div>
</body>
{% endblock %}
</html>

