<!doctype html>
<html>
<head>
  <title>Madlibs</title>
</head>
<body>

    <form action="/madlib">
    Let's play Madlibs!!! O:) <br>
    Name a person: <input type="text" name="person"> <br>
    Select a color: <input type="text" name="color"> <br>
    Enter a noun: <input type="text" name="noun"> <br>
    Enter an adjective: <input type="text" name="adjective"> <br>
    Choose another adjective:
    <select name="adjective2">
        <option value="lovely">lovely</option>
        <option value="grumpy">grumpy</option>
        <option value="happy">happy</option>
        <option value="fast">fast</option>
        <option value="furious">furious</option>
    </select><br>
    Choose a place:<br>
    <input type="checkbox" name="place" value="France">France<br>
    <input type="checkbox" name="place" value="USA">USA<br>
    <input type="checkbox" name="place" value="Mexico">Mexico<br>
    <input type="checkbox" name="place" value="China">China<br>
    <!-- How do we handle this?
    - assign names to options? tried it, didn't work
     -->

    <input type="submit"></form>
</body>
</html>